/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


.font-mont {
  font-family: 'Montserrat', sans-serif;
}

.font-merri {
  font-family: 'Merriweather Sans', sans-serif;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@keyframes bounceSlow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-bounceSlow {
  animation: bounceSlow 3s ease-in-out infinite;
}





@layer utilities {
  .mask-gradient {
    mask-image: linear-gradient(white, transparent 50%);
    -webkit-mask-image: linear-gradient(white, transparent 50%);
  }

  .animate-flip {
    animation: flip 6s infinite steps(2, end);
  }
}

@keyframes flip {
  to {
    rotate: 360deg;
  }
}

.spark-inner {
  content: "";
  position: absolute;
  width: 200%;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 0;
  translate: -50% -15%;
  transform: rotate(-90deg);
  z-index: -1;
  background: conic-gradient(from 0deg, transparent 0 340deg, white 360deg);
  animation: spin-spark 3s linear infinite;
  opacity: 1;
}

@keyframes spin-spark {
  to {
    transform: rotate(90deg);
  }
}
